<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic">Proyecto final</h1>
    <p class="lead my-3">En esta arquitectura, se integra una aplicación de grabación de video, un servicio de backend en Spring Boot que maneja la base de datos de logs, y otro servicio en ASP.NET que gestiona los videos grabados. Además, hay un frontend que interactúa con ambos servicios para mostrar la información relevante.</p>
  </div>
</div>
